In [150]:
# 1 ~ 10을 담는 리스트를 만들어봅시다.
_list = [i for i in range(1, 11)]
print(_list)

# 2, 4, 6, ..., 20을 담는 리스트를 만들어봅시다.
_list = [i*2 for i in range(1, 11)]
print(_list)

# 주어진 리스트를 받아 3의 배수만 담는 리스트를 만들어봅시다.
import random
temp = [random.randrange(1, 300) for i in range(100)]
_list = [i for i in temp if i % 3==0]
print(_list)

# 값이 두개 들어있는 튜플을 받아 리스트를 생성하되, 튜플 내부의 값을 뒤집어서 저장하세요.
list_of_tuple = [(i, j) for i in range(100) for j in range(100, 0, -1)]
_list = [(j, i) for i, j in list_of_tuple]

# 주어진 리스트를 그대로 담되, 15가 넘어가는 값은 15로 바꿔서 저장합시다.
_list = [i if i<=15 else 15 for i in temp]

# 두 개의 리스트를 합치되, 가능한 모든 조합을 저장하는 리스트를 만들어봅시다.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[39, 81, 210, 231, 150, 120, 102, 279, 225, 240, 156, 207, 225, 42, 21, 222, 129, 138, 21, 90, 93, 252, 210, 171, 165, 54, 282, 162, 60, 207, 264, 237, 186, 27, 105, 282, 225]

In [151]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
_data_set = set(data)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [156]:
for i in range(100):
    if i in _data_set:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [161]:
test_list = ['Test', 'test', 'TEST', 'tteesstt']
converted_list = set(map(lambda string: string.lower(), test_list))

In [162]:
converted_list

{'test', 'tteesstt'}

In [164]:
fruit = ['apple', 'grape', 'orange', 'banana']
price = [3200, 15200, 9800, 5000]

_dict = dict(zip(fruit, price)) # {'apple' : 3200, 'grape' : 15200, 'orange' : 9000, 'banana' : 5000}

In [170]:
print(_dict.setdefault('ss', 0))

0

In [171]:
from collections import defaultdict

movie_review = [('Train to Busan', 4), ('Clementine', 5), ('Parasite', 4.5), 
                ('Train to Busan', 4.2), ('Train to Busan', 4.5), ('Clementine', 5)]

index = defaultdict(list)
index

defaultdict(list, {})

In [172]:
for review in movie_review:
    index[review[0]].append(review[1]) # {'Train to Busan': [4, 4.2, 4.5], 'Clementine': [5, 5], 'Parasite': [4.5]}

In [181]:
index

defaultdict(list,
            {'Train to Busan': [4, 4.2, 4.5, 4, 4.2, 4.5],
             'Clementine': [5, 5, 5, 5],
             'Parasite': [4.5, 4.5],
             1: [],
             0: []})